{% load static %}
<div class="table-responsive">
    <table class="table table-striped table-hover my-3">
        <thead>
            <tr>
                <th scope="col">Type</th>
                <th scope="col">Plate No</th>
                <th scope="col">Model</th>
                <th scope="col">Color</th>
                <th scope="col">Status</th>
                <th scope="col">Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for vehicle in vehicles %}
            <tr class="">
                <td scope="row">{{vehicle.vehicle_type}}</td>
                <td>{{vehicle.vehicle_no}} </td>
                <td scope="row">{{vehicle.vehicle_model}}</td>
                <td scope="row">{{vehicle.vehicle_color}}</td>
                <td scope="row">{{vehicle.vehicle_status}}</td>
                <td>
                    <!-- delete link neeeds to setup later ********************************************************* -->
                    <a
                        href="{% url 'fleet:vehicle_update'  %}"
                        class="btn btn-outline-dark"
                    >
                        <i class="fa-solid fa-pen"></i></a>

                    <a
                        href="{% url 'fleet:vehicle_delete' fleet_id=request.user.id vehicle_id=vehicle.id %}"
                        class="btn btn-outline-dark"
                    >
                        <i class="fa-solid fa-remove"></i></a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <a
        href="{% url 'fleet:vehicle_add' %}"
        class=""
    >
        <div class="btn btn-outline-dark text-decoration-none">
            ADD VEHICLE

        </div>
    </a>
</div>