{% extends "fleet/fleet_dashboard.html" %}
{% load static %}
{% load crispy_forms_tags %}


{% block title %} FLEET DASHBOARD
{% endblock title %}
{% block extra_css %}
{% endblock extra_css %}

{% block widget %}
<div class="container col-8 align-content-center">
    <div class="row">
        <div class="col-md-12 text-center ">
            <h2>Update Vehicle informations</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <form method="post">
                {% csrf_token %}
                {{form | crispy}}
                <button
                    type="submit"
                    class="btn btn-dark align-content-center"
                >Update Vehicle </button>

            </form>
        </div>
    </div>
</div>
{% endblock widget %}