<div class="row table-responsive">
    <div class=" col-md-12 d-flex flex-row justify-content-between  px-md-4">
        <h2 class="m-0 ">Orders list</h2>
        <a
            class="btn btn-dark pe-3 text-white"
            href="{% url 'orders:add_order' %}"
        >
            <i class="fa fa-add me-3"></i> Add Orders
        </a>
    </div>
    {% if not orders %}
    <div class="h4 p-3 text-center"> No orders</div>
    {%else%}

    {% for order in orders %}
    <div class=" p-1 pt-2 col-12 col-md-6">
        <div class=" bg-light p-3">


            <div class=" d-flex justify-content-between ">
                <p class="fw-bolder">{{ order.client_order_code }}</p>
                <p class="fw-bold mb-2 ">{{ order.order_date }}</p>
            </div>
            <div class="">
                <div class=" d-flex justify-content-between ">
                    <div>Pickup Location</div>
                    <div>Drop OfF</div>
                </div>
                <hr class="p-0 m-0">
                <div class=" d-flex justify-content-between">

                    <p>{{ order.pickup_location }}</p>
                    <p>{{ order.customer_zone_no }}</p>
                </div>
            </div>
            <div class=" pb-1">
                <div class="d-flex justify-content-between ">
                    <div>Seller Status</div>
                    <div>COD</div>
                    <div>More</div>
                </div>
                <hr class="p-0 m-0 align-content-center">
                <div class="d-flex justify-content-between pt-2">

                    <div>{{ order.order_status }}</div>
                    <div>{{ order.cash_on_delivery }} - {{ order.cod_amount }}</div>





                    <div class=" d-flex justify-content-between ">
                        <a
                            class="btn btn-dark btn-sm text-end"
                            type="button"
                            data-bs-toggle="collapse"
                            data-bs-target="#collapse-{{ order.id }}"
                            aria-expanded="false"
                            aria-controls="collapse-{{ order.id }}"
                        >CLick</a>

                    </div>
                </div>
            </div>
        </div>

        <div
            class="  collapse pb-2  bg-light p-3 pt-0"
            id="collapse-{{ order.id }}"
        >



            <div class="pb-2">
                <div class=" d-flex justify-content-between ">
                    <div>Name</div>
                    <div>Mobile</div>
                </div>
                <hr class="p-0 m-0">
                <div class="d-flex justify-content-between p-0">

                    <p>{{ order.customer_name }}</p>
                    <p>{{ order.customer_phone }}</p>
                </div>
            </div>
            <div class=" ">
                <div class="d-flex justify-content-between ">
                    <div>Category</div>
                    <div>Whatsapp</div>
                </div>
                <hr class="p-0 m-0 align-content-center">
                <div class="d-flex justify-content-between pt-2">

                    <div>{{ order.product_sub_catgory }}</div>
                    <div><a
                            class="text-decoration-none text-dark"
                            href="http://wa.me/974{{ order.customer_whatsapp }}"
                        >{{ order.customer_whatsapp }}
                        </a> </div>
                </div>
            </div>
            <div class=" py-2 ">
                <div class="d-flex justify-content-between ">
                    <div>Task Stauts</div>
                    <div>Deadline</div>
                    <div>Actions</div>
                </div>
                <hr class="p-0 m-0 align-content-center">
                <div class="d-flex justify-content-between pt-2">

                    <div>{{ order.cod_status_by_staff }}</div>
                    <div>{{ order.deadline_date }}</div>
                    <div><a
                            href="{% url 'orders:update_order' order.id %} "
                            class="me-1  text-dark"
                        >
                            <i class="fa fa-lg fa-edit "></i>
                        </a>
                        <a
                            class="btn pe-1 text-dark"
                            href="{% url 'orders:delete_order' order.id %} "
                        >
                            <i class="fa fa-lg fa-trash"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    {% endfor %}
    {% endif %}
</div>