{% extends "base.html" %} {% load static %} {% load crispy_forms_tags %}
<!-- extra css -->
{% block extra_css %} {% endblock extra_css %}

<!-- ghghjg -->
{% block title %}EZZY BUSINESS DASHBOARD {%endblock title %} {% block dashboard %}

<div class="container-fluid">
    <section class=" m-0 p-0">
        <div class="p-3 p-md-3 text-dark">
            <div class="text-center">
                <h3 class="fw-bolder text-uppercase">
                    {{business.business_business_name}} - Dashboard
                </h3>
            </div>
            <hr />
        </div>
        <div class="d-flex flex-wrap text-center justify-content-evenly ">
            <div class="  bg-light py-1 py-sm-0">
                <a
                    class="btn btn-light btn-outline-dark btn-block  px-4"
                    href="{% url 'business:business_dashboard' %}"
                >
                    <i class="d-none d-md-inline fa fa-list me-3"></i>Dashboard
                </a>
            </div>
            <div class="  bg-light py-1 py-sm-0">
                <a
                    class="btn btn-light btn-outline-dark btn-block  px-4"
                    hx-get="{% url 'business:driver_directory' %}"
                    hx-trigger="click "
                    hx-target="#dasboard_div"
                >
                    <i class="d-none d-md-inline fa fa-list me-3"></i> Drivers Directory
                </a>
            </div>
            <div class="   bg-light py-1 py-sm-0">
                <a
                    class="btn btn-light btn-outline-dark px-4"
                    hx-trigger="click "
                    hx-target="#dasboard_div"
                    hx-get="{% url 'orders:orders_list' %}"
                >
                    <i class="d-none d-md-inline fa fa-list me-3"></i> List Orders
                </a>
            </div>
            <div class="  bg-light py-1 py-sm-0">
                <a
                    class="btn btn-light btn-outline-dark"
                    hx-trigger="click "
                    hx-target="#dasboard_div"
                    hx-get="{% url 'orders:add_order' %}"
                >
                    <i class="d-none d-md-inline fa fa-list me-3"></i> Add Orders
                </a>
            </div>
        </div>
        <div
            class="p-3 p-md-3 bg-light"
            id="dasboard_div"
        >

        </div>
    </section>
</div>
{% endblock dashboard %} {% block extra_js %}
<!-- extra js -->
<script
    src="https://unpkg.com/htmx.org@1.7.0"
    integrity="sha384-EzBXYPt0/T6gxNp0nuPtLkmRpmDBbjg6WmCUZRLXBBwYYmwAUxzlSGej0ARHX0Bo"
    crossorigin="anonymous"
    defer
></script>

<script>
    document.body.addEventListener("htmx:configRequest", (event) => {
        event.detail.headers["X-CSRFToken"] = "{{ csrf_token }}"; //insert csrf token when performing AJAX request
    });
</script>
{% endblock extra_js %}