tr.htmx-swapping td {
    opacity: 0;
    transition: opacity 1s ease-out;
  }
  
sidebar {
    height: calc(100vh - (headerHeight + footerHeight)); /* Adjust the header and footer height if needed */
    overflow-y: auto;
    position: sticky;
    bottom: 0;
}