{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% block extra_css %}
<!-- extra css -->
<link
    type="text/css"
    rel="stylesheet"
    href="{% static 'delivery/css/delivery_main.css' %}"
>
{% endblock extra_css %}

{% block content %}
<div class="container">

    <section class="py-5">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-12 col-lg-6">
                    <form
                        action=""
                        method="post"
                    >
                        {% csrf_token %}
                        {{ form|crispy }}
                        <div class="form-group">
                            <button
                                type="submit"
                                class="btn btn-primary"
                            >
                                {% if form.instance.pk %}
                                Update
                                {% else %}
                                Create
                                {% endif %}
                            </button>
                    </form>

                    <!-- <form
                        method="POST"
                        action="{{ form.action }}"
                        id="delivery_address_form"
                        get_zone_name="{% url 'delivery:get_zone_name' %}"
                    >
                        {% csrf_token %}
                        <div class="form-group row ">
                            <div class="col-6 mb-3">
                                <label
                                    class="form-label"
                                    for="dl_id"
                                >Delivery Id</label>

                                <input
                                    class="form-control"
                                    type="text"
                                    placeholder="{{ dl_id }}"
                                    value="{{ dl_id }}"
                                    readonly
                                />
                            </div>
                            <div class="col-6 mb-3">
                                <label
                                    class="form-label"
                                    for="mobile_no"
                                >Mobile No</label>
                                <input
                                    class="form-control"
                                    type="text"
                                    placeholder="{{ mobile_no }}"
                                    value="{{ mobile_no }}"
                                    readonly
                                />

                            </div>
                            <div class="col-6 mb-3">
                                <label
                                    class="form-label"
                                    for="order_id"
                                    value="{{ order_id }}"
                                ></label>

                                <input
                                    class="form-control"
                                    type="text"
                                    placeholder="{{ order_id }}"
                                    value="1"
                                />
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-12">
                                {{ form.full_name.errors }}
                                {{ form.full_name | as_crispy_field }}
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-12">
                                {{ form.unit_no.errors }}
                                {{ form.unit_no | as_crispy_field }}
                            </div>
                        </div>
                        <div class="blueboardaddress px-5 py-4 my-3">

                            <div class="form-group row">
                                <div class="col-12">
                                    {{ form.building_no.errors }}
                                    {{ form.building_no | as_crispy_field }}
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-6">
                                    {{ form.zone_number.errors }}
                                    {{ form.zone_number | as_crispy_field }}
                                </div>

                                <div class="col-6">
                                    {{ form.street_no.errors }}
                                    {{ form.street_no | as_crispy_field }}
                                </div>
                            </div>

                        </div>
                        <div class="form-group row">
                            <div class="col-12 mt-2">
                                <div class="col-12 mb-3">
                                    <label
                                        class="form-label"
                                        for="zone_name"
                                    >Zone name</label>
                                    <input
                                        id="zone_name"
                                        class="form-control"
                                        type="text"
                                        placeholder="{{ zone_name }}"
                                        value="{{ zone_name }}"
                                        readonly
                                    />

                                </div>
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-12">
                                {{ form.is_villa_compound.errors }}
                                {{ form.is_flat.errors }}
                                {{ form.is_office.errors }}
                            </div>
                            <div class="col-5">
                                {{ form.is_villa_compound | as_crispy_field }}
                            </div>
                            <div class="col-3">
                                {{ form.is_flat | as_crispy_field }}
                            </div>
                            <div class="col-4">
                                {{ form.is_office | as_crispy_field }}
                            </div>

                        </div>



                        <button
                            class="btn btn-primary-fill w-100"
                            data-dashlane-rid="d7f5d4425d0a9f42"
                            data-form-type="action"
                        >SUBMIT</button>
                    </form> -->
                </div>
            </div>
        </div>
    </section>
</div>

{% endblock content %}


{% block extra_js %}
<!-- extra js -->
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    $("#zone_number").change(function () {
        const url = $("#delivery_address_form").attr("get_zone_name");  // get the url of the `load_cities` view
        console.log(url);
        const zoneId = $(this).val();  // get the selected country ID from the HTML input
        console.log(zoneId);

        $.ajax({                       // initialize an AJAX request
            url: url,                    // set the url of the request (= /persons/ajax/load-cities/ )
            data: {
                'zone_number': zone_number       // add the country id to the GET parameters
            },
            success: function (data) {   // `data` is the return of the `load_cities` view function
                console.log(data);
                $("#zone_name").html(data);  // replace the contents of the city input with the data that came from the server
                /*

                let html_data = '<option value="">---------</option>';
                data.forEach(function (city) {
                    html_data += `<option value="${city.id}">${city.name}</option>`
                });
                console.log(html_data);
                $("#id_city").html(html_data);

                */
            }
        });

    });
</script>
{% endblock extra_js %}