{% load static %}
<!-- services listing ----------->
<div class="container  ">
    <section class="py-md-5 p-2">
        <div class="container">
            <div class="p-3  p-md-5 bg-light">
                <div class="text-center">
                    <h3 class="fw-bold ">
                        WE PROVIDE A FULL SERVICE TO OUR CUSTOMERS, WHICH INCLUDES:
                    </h3>
                </div>
            </div>
            <div class="d-flex flex-wrap">
                <div class="col-12 col-lg-6 p-1">
                    <div class="p-3 p-md-5 bg-light h-100">
                        <div class="text-center">
                            <img
                                class="d-inline-block d-flex justify-content-center align-items-center mx-auto mb-4 rounded-3 bg-light text-light w-25"
                                src="{% static 'webpages/img/delivery.png' %}"
                                alt=""
                            >
                            <h5 class="fw-bold mb-3">3PL Delivery Partner</h5>
                            <p class="text-muted">Make us your <span class="text-muted fs-6 fw-bolder">delivery partner for your business.</span> we take care of
                                your all orders delivery on time and in professionally. it helps to get reorder and save
                                your time for focus in
                                marketing</p>
                            <a
                                class="nav-link active"
                                aria-current="page"
                                href="{% url 'webpages:delivery_pricing' %}"
                            >
                                <div class="btn btn-dark w-md-50">
                                    <i class="fa-solid fa-money-check-dollar me-2"></i>
                                    Pricing
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-lg-6 p-1">
                    <div class="p-3 p-md-5 bg-light h-100">
                        <div class="text-center">
                            <img
                                class="d-inline-block d-flex justify-content-center align-items-center mx-auto mb-4 rounded-3 bg-light text-light w-25"
                                src="{% static 'webpages/img/fullfillment.png' %}"
                                alt=""
                            >
                            <h5 class="fw-bold mb-3">Fullfillment Service</h5>
                            <p class="text-muted mb-1">We Handle your bulk order shippment to our store and we repack,
                                deliver to
                                your business according to orders</p>
                            <p class="text-muted fw-bold">with keeping invontery stock managment system</p>
                            <a
                                class="nav-link active"
                                aria-current="page"
                                href="{% url 'webpages:fullfillment' %}"
                            >
                                <div class="btn btn-dark w-md-50">
                                    <i class="fa fa-info me-2 "></i>Know More
                                </div>
                            </a>
                        </div>
                    </div>
                </div>

                <div class="col-12 col-md-6 p-1">
                    <div class="p-3 p-md-5 bg-light h-100">

                        <div class="text-center">
                            <img
                                class="d-inline-block d-flex justify-content-center align-items-center mx-auto mb-4 rounded-3 bg-light text-light w-25"
                                src="{% static 'webpages/img/drivers.png' %}"
                                alt=""
                            >
                            <h4 class="fw-bold mb-3 text-dark">GET VERIFIED DRIVERS</h4>
                            <p class="text-muted">Find delivery driver for your business for ondemnd delivery. we
                                provide list of
                                delivery
                                teams details to get deliver on time and in professionally. it helps to get reorder
                                and
                                save your time for focus in marketing. business can find out driver list with
                                documents
                            </p>

                            <div class="mb-2 w-md-50 "><a
                                    href="{%url 'fleet:fleets' %}"
                                    class="text-decoration-none"
                                >
                                    <div class="btn btn-dark  ">
                                        <i class="fa fa-list me-2 "></i>All Drivers
                                    </div>
                                </a>
                                <a
                                    href="{%url 'core:join_driver' %}"
                                    class="text-decoration-none"
                                >
                                    <div class="btn btn-dark">
                                        <i class="fa fa-add me-2 "></i>Join Drivers
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-6 p-1">
                    <div class="p-3 p-md-5 bg-light h-100">

                        <div class="text-center">

                            <img
                                class="d-inline-block d-flex justify-content-center align-items-center mx-auto mb-4 rounded-3 bg-light text-light w-25"
                                src="{% static 'webpages/img/shop.png' %}"
                                alt=""
                            >
                            <h4 class="fw-bold mb-3 text-dark">FEATURING YOUR BUSINESS</h4>
                            <p class="text-muted"> Promote your business effortlessly with Ezzy Delivery! We're here to
                                help small and medium-scale businesses in Qatar grow. Our website and social media
                                campaigns are designed to boost your brand and reach more customers. Join us
                                today and experience the power of Ezzy Delivery's promotional strategies.
                            </p>
                            <div class="mb-2 w-md-50 "><a
                                    href="{%url 'business:all_business' %}"
                                    class="text-decoration-none"
                                >
                                    <div class="btn btn-dark  ">
                                        <i class="fa fa-list me-2 "></i>All business
                                    </div>
                                </a>
                                <a
                                    href="{%url 'core:join_business' %}"
                                    class="text-decoration-none"
                                >
                                    <div class="btn btn-dark">
                                        <i class="fa fa-add me-2 "></i>Add business
                                    </div>
                                </a>
                            </div>
                        </div>
                        </a>
                    </div>
                </div>


                <div class="col-12 col-lg-6 p-1">
                    <div class="p-3 p-md-5 bg-light h-100">
                        <div class="text-center">

                            <img
                                class="d-inline-block d-flex justify-content-center align-items-center mx-auto mb-4 rounded-3 bg-light text-light w-25"
                                src="{% static 'webpages/img/affiliate-marketing.png' %}"
                                alt=""
                            >
                            <h5 class="fw-bold mb-3">Affiliate Marketing Program</h5>
                            <p class="text-muted">Are you agent, blogger or influncer and wish to marketing products
                                available in
                                Qatar, join us as Affiliate Marketing Program. we provide verity of products to
                                get payment by selling through your business channel.</p>
                            <div class="mb-2 w-md-50 "><a
                                    href="/affiliate/"
                                    class="text-decoration-none"
                                >
                                    <div class="btn btn-dark  ">
                                        <i class="fa fa-info me-2 "></i>Know More
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-lg-6 p-1">
                    <div class="p-3 p-md-5 bg-light h-100">
                        <div class="text-center">
                            <img
                                class="d-inline-block d-flex justify-content-center align-items-center mx-auto mb-4 rounded-3 bg-light text-light w-25"
                                src="{% static 'webpages/img/c2c.png' %}"
                                alt=""
                            >
                            <h5 class="fw-bold mb-3">Peer-to-Peer Delivery</h5>
                            <p class="text-muted">Our P2P delivery service provides an efficient, affordable, and
                                community-driven approach to package delivery. Whether you need to send a small item
                                across town or require a more extensive logistics solution, our network of independent
                                drivers is ready to assist. </p>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </section>



</div>