{% load static %}
<!-- ...header... -->


<div class="container-fluid bg-light">
    <nav class="navbar navbar-expand-md navbar-light bg-light ">
        <div class="container-fluid ">
            <script src="https://cdn.lordicon.com//libs/frhvbuzj/lord-icon-2.0.2.js"></script>
            <a
                class="navbar-brand m-0"
                href="{% url 'webpages:index' %}"
            >
                <img
                    src="{% static 'webpages/img/ezzy-logo-long-white.png' %}"
                    alt=""
                    width="200"
                    height="50"
                >
            </a>
            <button
                class="navbar-toggler"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#navbarNav"
                aria-controls="navbarNav"
                aria-expanded="false"
                aria-label="Toggle navigation"
            >
                <span class="navbar-toggler-icon"></span>
            </button>
            <div
                class="collapse navbar-collapse "
                id="navbarNav"
            >
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item">
                        <a
                            class="nav-link active"
                            aria-current="page"
                            href="{% url 'webpages:index' %}"
                        >Home</a>
                    </li>
                    <li class="nav-item">
                        <a
                            class="nav-link active"
                            aria-current="page"
                            href="{% url 'webpages:services' %}"
                        >Delivery</a>
                    </li>
                    <li class="nav-item">
                        <a
                            class="nav-link active"
                            aria-current="page"
                            href="{% url 'webpages:fullfillment' %}"
                        >Fullfillment</a>
                    </li>
                    <li class="nav-item">
                        <a
                            class="nav-link active"
                            aria-current="page"
                            href="{% url 'webpages:contactus' %}"
                        >Contact</a>
                    </li>
                    {% if user.is_authenticated %}
                    <div
                        class="btn-group"
                        role="group"
                        aria-label="Button group with nested dropdown"
                    >
                        <div
                            class="btn-group"
                            role="group"
                        >
                            <button
                                id="btnGroupDrop1"
                                type="button"
                                class="btn btn-light dropdown-toggle"
                                data-bs-toggle="dropdown"
                                aria-expanded="false"
                            >
                                <img
                                    src="{% static 'webpages/img/avatar.png' %}"
                                    alt=""
                                    width="30"
                                    height="30"
                                    title="{{ user.username }}"
                                >
                            </button>
                            <ul
                                class="dropdown-menu dropdown-menu-end bg-light ms-3 border-0 text-center"
                                aria-labelledby="btnGroupDrop1"
                            >
                                <li><a
                                        class="nav-link active"
                                        aria-current="page"
                                        href="{% url 'core:profile_view' %}"
                                    > Profile</a></li>
                                <li><a
                                        class="nav-link active"
                                        aria-current="page"
                                        href="{% url 'core:main_dashboard' %}"
                                    > Dashboard</a></li>
                                <li><a
                                        class="nav-link active"
                                        aria-current="page"
                                        href="{% url 'account_logout' %}"
                                    > Log Out</a></li>
                            </ul>
                        </div>
                    </div>
                    {% else %}
                    <li class="nav-item"><a
                            class="nav-link active"
                            aria-current="page"
                            href="{% url 'account_login' %}"
                        >Log In</a>
                    <li class="nav-item">
                        <a
                            class="nav-link active"
                            aria-current="page"
                            href="{% url 'account_signup' %}"
                        >Sign Up</a>
                    </li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </nav>
</div>
{% block extra_js %}
<script src="https://cdn.lordicon.com//libs/frhvbuzj/lord-icon-2.0.2.js"></script>{% endblock %}
