{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% block extra_css %}
{% endblock extra_css %}
{% block title %}
EZZY FLEET DASHBOARD
{% endblock title %}
{% block content %}
<h1> driver documents</h1>
<div class="p-3">


    <table class="table table-hover">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">No</th>
                <th scope="col">Expirey Date</th>
                <th scope="col">document_type</th>
                <th scope="col">Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for document in documents %}
            <tr class="">
                <th scope="row">{{document.id}}</th>
                <td>{{document.qid_no}} </td>
                <th scope="row">{{document.qid_expirey_date}}</th>
                <th scope="row">{{document.document_type}}</th>

                <td>
                    <!-- delete link neeeds to setup later ********************************************************* -->
                    <a href=" #">
                        <i class="fa-solid fa-delete-left"></i> </a>
                </td>
            </tr>

            {% endfor %}
        </tbody>
    </table>
</div>

<a href="{%url 'fleet:driver_documents_upload' %}">
    <div class="btn btn-dark">
        <i class="fa fa-add"></i> driver_documents_upload
    </div>
</a>
{% endblock content %}