{% extends "base.html" %} {% load crispy_forms_tags %} {% block extra_head %}
Products {% endblock extra_head %} {% block content %}
<!-- Main content area -->
{% include "client/parts/dashboard_mob_nav.html" %}
<div class="main min-vh-100">
  <div class="d-flex min-vh-100">
    <!-- sidebar -->
    {% include "client/parts/dashboard_sidebar.html" %}
    <div class="container">
      <div class="row">
        <div class="col-md-12">product_inventory</div>
      </div>
    </div>
  </div>
</div>
{% endblock %} {% block extra_js %}
<!-- extra js -->
{% endblock extra_js %}
