{% extends "base.html" %} {% load static %} {% load crispy_forms_tags %}
{% block content %}


<section style="background-color: #eee;">
    <div class="container py-5">
        <!-- file path section -->
        <div class="row">
            <div class="col">
                <nav
                    aria-label="breadcrumb"
                    class="bg-light rounded-3 p-3 mb-4"
                >
                    <ol class="breadcrumb mb-0">
                        <li class="breadcrumb-item"><a href="/">Home</a></li>
                        <li
                            class="breadcrumb-item active"
                            aria-current="page"
                        >User</li>
                        <li
                            class="breadcrumb-item active"
                            aria-current="page"
                        >Join_us</li>
                    </ol>
                </nav>
            </div>
        </div>
        <div class="row">
            <!-- profile left side section -->
            <div class="col-lg-4">
                <div class="card mb-4">
                    <div class="card-body text-center">
                        <img
                            src="/media/core/user/avatar.png"
                            alt="avatar"
                            class="rounded-circle img-fluid"
                            style="width: 180px;"
                        >
                        <h5 class="my-3">{{joinusform.first_name}} {{joinusform.last_name}}</h5>
                        <p class="text-muted mb-1">{{joinusform.profile_pic}}</p>
                        <p class="text-muted mb-4">{{joinusform.zone_name}}</p>
                        <div class="d-flex justify-content-center mb-2">
                            {% if profile.is_seller %}
                            <a
                                type="button"
                                class="btn btn-dark"
                                href="{% url 'client:client_dashboard' %}"
                            >
                                Dashboard
                            </a>
                            <p>{{profile.is_seller}}</p>


                            {% elif profile.is_driver %}
                            <a
                                type="button"
                                class="btn btn-dark"
                                href="{% url 'fleet:fleet_dashboard' %}"
                            >
                                Dashboard
                            </a>
                            {% else %}
                            <a
                                type="button"
                                class="btn btn-dark"
                                href="{% url 'core:join_us' %}"
                            >
                                SELECT ROLE
                            </a>
                            {% endif %}

                            <button
                                type="button"
                                class="btn btn-outline-primary ms-1"
                            >Message</button>
                        </div>
                        <div class="d-flex justify-content-center p-3">
                            <a href="#!"><i class="fa-brands fa-facebook fa-2xl me-3 text-dark"></i></a>
                            <a href="#!"><i class="fa-brands fa-whatsapp fa-2xl me-3 text-dark"></i></a>
                            <a href="#!"><i class="fa-brands fa-instagram fa-2xl text-dark"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <!-- profile join form section -->
            <div class="col-lg-8">
                <div class="card-body bg-light">
                    <!-- join buttons -->
                    <ul
                        class="nav nav-pills mb-3"
                        id="pills-tab"
                        role="tablist"
                    >
                        <li
                            class="nav-item"
                            role="presentation"
                        >
                            <a
                                href="{%url 'core:join_seller'%} "
                                class="text-decoration-none"
                            >
                                <button class="nav-link  btn joinbtn active">JOIN AS SELLER</button></a>
                        </li>
                        <li
                            class="nav-item"
                            role="presentation"
                        ><a
                                href="{%url 'core:join_driver'%}"
                                class="text-decoration-none"
                            >
                                <button class="nav-link  btn joinbtn ">JOIN AS DRIVER</button>
                            </a>

                        </li>
                    </ul>
                    <!-- form section -->
                    <div
                        class="tab-content"
                        id="pills-tabContent"
                    >

                        <div
                            class="tab-pane fade active show  p-0"
                            id="pills-home"
                            role="tabpanel"
                            aria-labelledby="pills-home-tab"
                        >{% include "core/join_seller.html" %}


                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock content %}
{% block extra_js %}
{% endblock extra_js %}