{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% load show_results %}


{% block content %}


<section style="background-color: #eee;">

    <div class="container py-5">
        <div class="row">
            <div class="col">
                <nav
                    aria-label="breadcrumb"
                    class="bg-light rounded-3 p-3 mb-4"
                >
                    <ol class="breadcrumb mb-0">
                        <li class="breadcrumb-item"><a href="/">Home</a></li>
                        <li
                            class="breadcrumb-item active"
                            aria-current="page"
                        >User</li>
                    </ol>
                </nav>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4">
                <div class="card mb-4">
                    <div class="card-body text-center">

                        <img
                            src="{{profile.profile_pic.url}}"
                            alt="avatar"
                            class="rounded-circle img-fluid"
                            style="width: 180px;"
                        >

                        <h5 class="my-3">{{profile.first_name}} {{profile.last_name}}</h5>
                        <p class="text-muted mb-1">Nationlity: {{profile.nationlity}}</p>
                        <p class="text-muted mb-4">Qatar Location: {{profile.zone_name}}</p>
                        <div class="d-flex justify-content-center mb-2">

                            {% if profile.is_seller %}
                            <a
                                type="button"
                                class="btn btn-dark"
                                href="{% url 'core:main_dashboard' %}"
                            >
                                SELLER DASHBOARD
                            </a>
                            {% elif profile.is_driver %}
                            <a
                                type="button"
                                class="btn btn-dark"
                                href="{% url 'core:main_dashboard' %}"
                            >
                                DRIVER DASHBOARD
                            </a>
                            {% else %}
                            <a
                                type="button"
                                class="btn btn-dark"
                                href="{% url 'core:join_us' %}"
                            >
                                SELECT ROLE
                            </a>
                            {% endif %}

                            <button
                                type="button"
                                class="btn btn-outline-dark ms-1 position-relative"
                            >Message
                                <span
                                    class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger"
                                >
                                    9+
                                </span></button>

                        </div>
                        <div class="d-flex justify-content-center p-3">
                            <a href="#!"><i class="fa-brands fa-facebook fa-2xl me-3 text-dark"></i></a>
                            <a href="http://wa.me/974{{profile.whatsapp}}!"><i
                                    class="fa-brands fa-whatsapp fa-2xl me-3 text-dark"
                                ></i></a>
                            <a href="#!"><i class="fa-brands fa-instagram fa-2xl text-dark"></i></a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-8">
                <div class="card mb-4">
                    <div class="card-body">

                        <div class="row">
                            <div class="col-sm-3">
                                <p class="mb-0">Name:</p>
                            </div>
                            <div class="col-sm-4">
                                <p class="text-muted mb-0">
                                    {{profile.first_name }}
                                </p>
                            </div>
                            <div class="col-sm-5">
                                <p class="text-muted mb-0">
                                    {{profile.last_name}}
                                </p>
                            </div>
                        </div>
                        <hr />
                        <div class="row">
                            <div class="col-sm-3">
                                <p class="mb-0">Email</p>
                            </div>
                            <div class="col-sm-9">
                                <p class="text-muted mb-0">
                                    {{profile.email }}
                                </p>
                            </div>
                        </div>
                        <hr />
                        <div class="row">
                            <div class="col-sm-3">
                                <p class="mb-0">nationlity</p>
                            </div>
                            <div class="col-sm-9">
                                <p class="text-muted mb-0">
                                    {{profile.nationlity }}
                                </p>
                            </div>
                        </div>
                        <hr />
                        <div class="row">
                            <div class="col-sm-3">
                                <p class="mb-0">Birthday</p>
                            </div>
                            <div class="col-sm-5">
                                <p class="text-muted mb-0">
                                    {{profile.date_of_birth }}
                                </p>
                            </div>
                        </div>
                        <hr />
                        <div class="row">
                            <div class="col-sm-3">
                                <p class="mb-0">Mobile</p>
                            </div>
                            <div class="col-sm-9">
                                <p class="mb-0">
                                    {{profile.phone.errors }}
                                    {{profile.phone }}
                                </p>
                            </div>
                        </div>
                        <hr />
                        <div class="row">
                            <div class="col-sm-3">
                                <p class="mb-0">Whatsapp</p>
                            </div>
                            <div class="col-sm-9">
                                <p class="text-muted mb-0">
                                    {{profile.whatsapp.errors }}
                                    {{profile.whatsapp }}
                                </p>
                            </div>
                        </div>
                        <hr />
                        <div class="row">
                            <div class="col-sm-3">
                                <p class="mb-0">Zone Name</p>
                            </div>
                            <div class="col-sm-9">
                                <p class="text-muted mb-0">

                                    {{profile.zone_name }}
                                </p>
                            </div>
                        </div>
                        <hr />
                        <div class="row">
                            <div class="col-sm-3">
                                <p class="mb-0">Address</p>
                            </div>
                            <div class="col-sm-9">
                                <p class="text-muted mb-0">
                                    {{profile.address }}
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="d-grid gap-2 col-6 align-content-end">
                    {% if profile.user_id %}
                    <a
                        href="/profile/{{profile.user_id}}/update"
                        class="btn btn-primary btn-dark"
                    >Edit</a>
                    {% else %}
                    <a
                        href="/profile/add/"
                        class="btn btn-primary btn-dark"
                    >Edit</a>

                    {% endif %}

                </div>
            </div>
        </div>
    </div>
</section>

{% endblock content %}