{% load static %}

<div
  class="d-none d-md-flex flex-column flex-shrink-0 p-3 text-white bg-dark col-2"
>
  <a
    href="{% url 'workforce:wf_dashboard' %}"
    class="fw-bold fs-3 text-center mb-3 mb-md-0 me-md-auto ms-auto text-white text-decoration-none"
  >
    {{profile.first_name}} {{profile.last_name}}
  </a>
  <hr />

  <div class="navbar-collapse sidebar" id="navbarNav2">
    <ul class="navbar-nav ms-auto">
      <li class="nav-item">
        <a class="nav-link p-3 btn-dark my-2 btn btn-outline-dark" href="#">
          All List
        </a>
      </li>
      <hr />
      <li class="nav-item">
        <a class="nav-link p-3 btn-dark my-2 btn btn-outline-dark" href="#">
          New List Orders
        </a>
      </li>
      <hr />
      <li class="nav-item">
        <a class="nav-link p-3 btn-dark my-2 btn btn-outline-dark" href="#">
          Incompleted list order
        </a>
      </li>
      <hr />
      <li class="nav-item">
        <a class="nav-link p-3 btn-dark my-2 btn btn-outline-dark" href="#">
          FollowUp List
        </a>
      </li>
      <hr />
      <li class="nav-item">
        <a class="nav-link p-3 btn-dark my-2 btn btn-outline-dark" href="#">
          Published List
        </a>
      </li>
      <hr />
      <li class="nav-item">
        <a class="nav-link p-3 btn-dark my-2 btn btn-outline-dark" href="#">
          DMS Updated List
        </a>
      </li>
      <hr />
      <li class="nav-item">
        <a class="nav-link p-3 btn-dark my-2 btn btn-outline-dark" href="#">
          Repotreded Business
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link p-3 btn-dark my-2 btn btn-outline-dark" href="#">
          Inventory Updated List
        </a>
      </li>
    </ul>
  </div>
</div>
