{% load static %}



<div class="d-none d-md-flex flex-column flex-shrink-0 p-3 text-white bg-dark col-2">
    <a
        href="{% url 'business:profile_business' 3 %}"
        class="fw-bold fs-3 text-center mb-3 mb-md-0 me-md-auto ms-auto text-white text-decoration-none"
    >


        {{business.business_business_name}}

    </a>
    <hr>

    <div
        class=" navbar-collapse sidebar"
        id="navbarNav2"
    >
        <ul class="navbar-nav ms-auto">
            <li class="nav-item">

                <a
                    class="nav-link p-3 btn-dark my-2 btn btn-outline-dark"
                    href="{% url 'business:business_dashboard' %}"
                >
                    Dashboard
                </a>
            </li>
            <hr>
            <li class="nav-item">
                <a
                    class="nav-link p-3 btn-dark my-2 btn btn-outline-dark"
                    href="{% url 'business:driver_directory' %}"
                >
                    Drivers Directory
                </a>
            </li>
            <hr>
            <li class="nav-item">
                <a
                    class="nav-link p-3 btn-dark my-2 btn btn-outline-dark"
                    href="{% url 'orders:orders_list' %}"
                >
                    List Orders
                </a>
            </li>
            <hr>
            <li class="nav-item">
                <a
                    class="nav-link p-3 btn-dark my-2 btn btn-outline-dark"
                    href="{% url 'orders:add_order' %}"
                >
                    Add Orders
                </a>
            </li>
            <hr>
            <li class="nav-item">
                <a
                    class="nav-link p-3 btn-dark my-2 btn btn-outline-dark"
                    href="{% url 'orders:orders_list' %}"
                >
                    FollowUp List

                </a>
            </li>
            <hr>
            <li class="nav-item">
                <a
                    class="nav-link p-3 btn-dark my-2 btn btn-outline-dark"
                    href="{% url 'business:pickup_location_list' %}"
                >
                    Pickup locations

                </a>
            </li>
            <hr>
        </ul>
    </div>
</div>
{% block extra_js %}
<script src="https://cdn.lordicon.com//libs/frhvbuzj/lord-icon-2.0.2.js"></script>{% endblock %}