{% load static %}



<div class="d-none d-md-flex flex-column flex-shrink-0 p-3 text-white bg-dark col-2">
    <div class="text-center fw-bold">

        Clients Dashboard
    </div>
    <hr>

    <div
        class=" navbar-collapse sidebar"
        id="navbarNav2"
    >
        <ul class="navbar-nav ms-auto text-center">
            <li class="nav-item ">

                <a
                    class="nav-link p-3 btn-dark my-0 btn btn-outline-dark"
                    href="{% url 'business:business_dashboard' %}"
                >
                    Dashboard
                </a>
            </li>
            <hr>
            <li class="nav-item">
                <a
                    class="nav-link p-3 btn-dark my-2 btn btn-outline-dark"
                    href="{% url 'business:driver_directory' %}"
                >
                    Drivers Directory
                </a>
            </li>
            <hr>
            <li class="nav-item">
                <a
                    class="nav-link p-3 btn-dark my-2 btn btn-outline-dark"
                    href="{% url 'orders:orders_list' %}"
                >
                    List Orders
                </a>
            </li>
            <hr>
            <li class="nav-item">
                <a
                    class="nav-link p-3 btn-dark my-2 btn btn-outline-dark"
                    href="{% url 'orders:add_order' %}"
                >
                    Add Orders
                </a>
            </li>
            <hr>
            <li class="nav-item">
                <a
                    class="nav-link p-3 btn-dark my-2 btn btn-outline-dark"
                    href="{% url 'orders:orders_list' %}"
                >
                    FollowUp List

                </a>
            </li>
            <hr>
            <li class="nav-item">
                <a
                    class="nav-link p-3 btn-dark my-2 btn btn-outline-dark"
                    href="{% url 'business:pickup_location_list' %}"
                >
                    Pickup locations

                </a>
            </li><hr>
            <li class="nav-item">
                <a
                    class="nav-link p-3 btn-dark my-2 btn btn-outline-dark"
                    href="{% url 'product:product_sku_list' %}"
                >
                    SKUs

                </a>
            </li><hr>
            <li class="nav-item">
                <a
                    class="nav-link p-3 btn-dark my-2 btn btn-outline-dark"
                    href="{% url 'product:product_list' %}"
                >
                    Products

                </a>
            </li>
            <hr>
            <li class="nav-item">
                <a
                    class="nav-link p-3 btn-dark my-2 btn btn-outline-dark"
                    href="{% url 'business:profile_business' request.user.profile.id %}"
                >
                    Business Profile

                </a>
            </li>
            <hr>
            <li class="nav-item">
        <span class="nav-link  collapsed  d-flex justify-content-between align-items-center" data-bs-toggle="collapse"
          data-bs-target="#submenu-pages">
          <span>
            <span class="sidebar-icon">
              S
            </span>
            <span class="sidebar-text">Page examples</span>
          </span>
          <span class="link-arrow">
            <svg class="icon icon-sm" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
              <path fill-rule="evenodd"
                d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z"
                clip-rule="evenodd"></path>
            </svg>
          </span>
        </span>
        <div class="multi-level collapse " role="list" id="submenu-pages" aria-expanded="false">
          <ul class="flex-column nav">
            <li class="nav-item">
              <a class="nav-link" href="#">
                <span class="sidebar-text">Sign In</span>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">
                <span class="sidebar-text">Sign Up</span>
              </a>
            </li>
          </ul>
        </div>
      </li>
        </ul>
    </div>
</div>
{% block extra_js %}
<script src="https://cdn.lordicon.com//libs/frhvbuzj/lord-icon-2.0.2.js"></script>{% endblock %}