{% extends "client/business_dashboard.html" %}



{% load static %}
{% block widget %}
{% load crispy_forms_tags %}

<h2>list of Driver Contacts</h2>
<div class="table-responsive">
    <table class="table table-striped table-hover my-3">
        <thead>
            <tr>
                <th>Name</th>
                <th>Code</th>
                <th>Mob No</th>
                <th>Status</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% if contacts %} {% for contact in contacts %}
            <tr>
                <td>{{contact.driver.user}}</td>
                <td>{{contact.driver.driver_code}}</td>
                <td>{{contact.driver.driver_phone}}<a
                        href="https://wa.me/974{{contact.driver.driver_phone}}"
                        class="btn pe-3 text-dark p-0 ms-3"
                    ><i class="fa-xl fa-brands fa-whatsapp"></i></a></td>
                <td>{{contact.driver.driver_status}}</td>
                <td class="p-0">
                    <a
                        href="/fleet/{{contact.driver_id}}/"
                        class="btn pe-3 text-dark p-0"
                    ><i class="fa-solid fa-circle-info fa-xl"></i></i></a>
                    <a
                        class="btn pe-3 text-dark"
                        hx-confirm="Are you sure you wish to delete?"
                        href="{% url 'business:driver_directory_delete' contact.id %}"
                    ><i class="fa fa-lg fa-trash"></i></a>
                </td>

            </tr>
            {% endfor %} {% else %}
            <tr>
                <td
                    colspan="5"
                    class="py-2"
                >No Drivers Added</td>
            </tr>
            {% endif %}
            <tr>
                <td
                    colspan="5"
                    class="py-2"
                >

                    <a
                        class="btn pe-3 text-dark w-100"
                        hx-confirm="Are you sure you wish to delete?"
                        href="{% url 'fleet:fleets' %}"
                    >
                        <i class="fa fa-lg fa-search me-3"></i> Search Drivers
                    </a>
                </td>

            </tr>
        </tbody>
    </table>
</div>

{% endblock widget %}