{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% block extra_css %}
{% endblock extra_css %}
{% block title %}
FLEET {{driver.driver_code}}
{% endblock title %}
{% block content %}
<h1> BUSINESS</h1>

<div class="p-3">


    <table class="table table-hover">
        <thead>
            <tr>
                <th scope="col">No</th>
                <th scope="col">business_code</th>
                <th scope="col">brand_name</th>
                <th scope="col">business_languages</th>
                <th scope="col">business_status</th>
            </tr>
        </thead>
        <tbody>
            {% for business in business %}
            <tr
                class="clickable "
                onclick="window.location='/business/{{business.business_id}}/'"
            >
                <td scope="row">{{forloop.counter}}</td>
                <td scope="row">{{business.business_code}}</td>
                <td scope="row">{{business.brand_name}}</td>
                <td scope="row">{{business.business_languages}}</td>
                <td scope="row">{{business.business_status}}</td>
            </tr>

            {% endfor %}

        </tbody>
    </table>
</div>
<a href="{%url 'business:all_business' %}">
    <div class="btn btn-dark">
        <i class="fa-solid fa-chevron-left me-2"></i> Back
    </div>
</a>
<a href="{% url 'core:main_dashboard' %}">
    <div class="btn btn-dark">
        <i class="fa-solid fa-chart-line"></i> Dashboard
    </div>
</a>
<a href="{%url 'core:join_business' %}">
    <div class="btn btn-dark">
        <i class="fa fa-add me-2"></i> Add Business
    </div>
</a>
{% endblock content %}