{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% block title %}
BUSINESS
{% endblock title %}
{% block content %}

<!--frontend business Profile pge section -->
<section
    class="section about-section mb-3 h-100"
    id="pickup_location_update"
>
    <h2 class="text-center  fw-bolder bg-light py-3 m-0"> BUSINESS Details Update</h2>
    <div class="container ">
        <form method="POST"  enctype="multipart/form-data">
            {% csrf_token %}
            {{form|crispy}}
            <div class=" text-end d-block justify-content-evenly">
                <a
                    class="btn btn-dark  w-md-50"
                    href="{% url 'business:profile_business' business_id %}"
                >
                    Back
                </a>
                <button
                    type="submit"
                    value="submit"
                    class="btn btn-dark  w-md-50"
                >
                    Submit
                </button>
            </div>
        </form>



    </div>
</section>

{% endblock content %}