{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% block extra_css %}
<!-- extra css -->
<link
    type="text/css"
    rel="stylesheet"
    href="{% static 'webpages/css/fullfillment.css' %}"
>
{% endblock extra_css %}

{% block content %}

<div class="container">
    <!-- ======= Hero Section ======= -->
    <section
        id="hero"
        class="d-flex align-items-center p-2"
    >
        <div
            class="container"
            data-aos="zoom-out"
            data-aos-delay="100"
        >
            <h1>hassle-free <span>fulfillment.</span></h1>
            <h1>so you can focus on growth.</h1>
            <h2>Get rid of the hassle of storing, picking and packaging your products. We have a strong network of
                fulfillment centers with various storage options and multiple models for you to get started with.</h2>

            <div class="row">
                <div class="col">
                    <div class="h1 bold text-black-50">leave inventory to our fulfillment section to store, pick, pack
                        and
                        dispatch
                        your orders!
                    </div>
                    <h2>You’ll have access to a secure & clean area to store your products, you’ll be able to choose
                        space and your orders will be sorted, picked and packed in no
                        time. Enjoy a complete overview of your inventory any time.</h2>

                </div>

            </div>



    </section>
    <!-- End Hero -->


    <!-- ======= Featured Services Section ======= -->
    <section
        id="featured-services"
        class="featured-services p-0"
    >
        <div
            class="container"
            data-aos="fade-up"
        >

            <div class="row">
                <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-2 mb-lg-0">
                    <div
                        class="icon-box"
                        data-aos="fade-up"
                        data-aos-delay="100"
                    >
                        <div class="icon"><i class="bx bxl-dribbble"></i></div>
                        <h4 class="title"><a href="">Inventory Management</a></h4>
                        <p class="description">Spreadsheets and losing count? Say no more. We’ll keep a count of
                            your inventory and make sure that proper labeling and barcoding happens.</p>
                    </div>
                </div>

                <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0">
                    <div
                        class="icon-box"
                        data-aos="fade-up"
                        data-aos-delay="200"
                    >
                        <div class="icon"><i class="bx bx-file"></i></div>
                        <h4 class="title"><a href="">Picking & Packing</a></h4>
                        <p class="description">Don’t want to trouble yourself wrapping and packaging every time you
                            get an order? Stay put, that’ll be taken care of.</p>
                    </div>
                </div>

                <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0">
                    <div
                        class="icon-box"
                        data-aos="fade-up"
                        data-aos-delay="300"
                    >
                        <div class="icon"><i class="bx bx-tachometer"></i></div>
                        <h4 class="title"><a href="">Storage</a></h4>
                        <p class="description">Don’t use your bedroom to store your products. Whether you want to
                            rent a rack or a much larger space, our fulfillment centers are fully equipped.</p>
                    </div>
                </div>

                <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0">
                    <div
                        class="icon-box"
                        data-aos="fade-up"
                        data-aos-delay="400"
                    >
                        <div class="icon"><i class="bx bx-world"></i></div>
                        <h4 class="title"><a href="">COD</a></h4>
                        <p class="description">At vero eos et accusamus et iusto odio dignissimos ducimus qui
                            blanditiis</p>
                    </div>
                </div>

            </div>

        </div>
    </section><!-- End Featured Services Section -->
    <div class="btn mt-5">
        <a
            href="/contactus/"
            class="btn btn-primary-fill btn-outlined btn-lg"
        >
            <span class="icon">
                <i class="fa fa-user-plus"></i>
            </span>
            <span>
                Contact Us
            </span>
        </a>

    </div>


</div>

{% endblock content %}