{% extends "base.html" %}
{% load crispy_forms_tags %}

<head>
    <title>{% block head_title %}{% endblock %}</title>
    {% block extra_head %}orders
    {% endblock %}
</head>


{% block content %}
<div class="container col-12 col-md-8  bg-light">
    <div class="row">
        <div class="col-12 px-4">
            <div class="col-12 text-dark text-center my-5">
                <h2>ACTIVATE DASHBORAD</h2>
            </div>
            <form method="POST">
                {% csrf_token %}
                {{ form | crispy}}
                <div class="submit my-3  text-center">
                    <button
                        type="submit"
                        value="submit"
                        class="btn btn-primary-fill"
                    >Submit</button>
                </div>
            </form>


        </div>
    </div>

</div>
{% endblock %}


{% block extra_js %}
<!-- extra js -->
{% endblock extra_js %}