{% extends "dashboard_base.html" %}
{% load crispy_forms_tags %}
{% load static %}
<!-- extra css -->
{% block extra_css %}
  <link href="{% static 'orders/css/orders_main.css' %}"
        rel="stylesheet"
        type="text/css" />
{% endblock extra_css %}
{% block content %}
  <!-- orders_list.html -->
  <div class="col-12 col-md-9 col-lg-10">
    <div class="d-none d-md-block ">
      {% include "orders/parts/orders_list.html" %}
    </div>
    <div class="d-block d-md-none">
      {% include "orders/parts/orders_list_mob.html" %}
    </div>
  </div>
{% endblock content %}
